{% load static %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM后台管理</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="Login">
<!--Login-开始-->

<div class="Login_heand dk">
    <a href="#" class="Login_logo fl">

    </a>
{#    <a href="#" class="Login_down fr">谷歌浏览器下载</a>#}
    <div class="clear"></div>
</div>

<div class="Login_k">
    <div class="Login_T">密码登录<p></p></div>
    <!--登录-开始-->
    <form action="{% url 'login' %}" class="Login_dl" method="post">
        {% csrf_token %}
        <div class="Login_row">
            <input name="username" type="text" value="" class="Login_input Login_inp1" placeholder="用户名">
        </div>
        <div class="Login_row">
            <input name="password" type="password" value="" class="Login_input Login_inp2" placeholder="密码">
        </div>
        <button type="submit" class="Login_dla">登录</button>

        <label class="Login_pitch fl">
            <input type="checkbox" name="checkbox01" class=" fl">
            <div class="fl">自动登录</div>
            <div class="clear"></div>
        </label>
        <div class="Login_wj fr">
            <a href="#">忘记密码</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">注册</a>
        </div>
        <div class="clear"></div>

    </form>
    <!--登录-结束-->
</div>

<div class="Login_foot">
    <p>京ICP备11017824号-4 / 京ICP证130164号 北京市公安局朝阳分局</p>
    <p>本站由沐创科技公司技术支持</p>
</div>
<!--Login-结束-->


</body>
</html>


